:root {
  --circle-size: 30px;
  position: relative;
  /* background-color: #000; */
}
.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  /* background: #f5f5f5; */
  border-radius: var(--circle-size);
  position: fixed;
  background: #f5f5f5;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  mix-blend-mode: difference;
  filter: grayscale(1);
  top: 0;
  left: 0;
}
